In [2]:
#Write a python script to check whether a given number is even or odd.

x= int(input("enter a number"))
if x%2==0:
    print(x,"is even")
else :
    print(x,"is odd")

enter a number4
4 is even

In [11]:
#Write a python script to check leap year

x=int(input("enter an year"))
result= "Leap Year" if x%400==0 else "Leap Year" if x%4==0 and x%100!=0 else "no leap year"
print(result)

enter an year2000
Leap Year

In [13]:
x = int(input("enter a year"))
if x%400 ==0 :
    print("leap Year")
elif x%4==0 and x%100!=0:

    print("leap Year")
else :
    print("no leap Year")

enter a year1900
no leap Year

In [14]:
#python script to add two integers. Values taken from user
x = int(input("enter first number"))
y = int(input("enter second number"))
s = x+y 
print("Sum of",x,"and",y,"is",s)

enter first number100
enter second number678
Sum of 100 and 678 is 778

In [17]:
#python script to remove duplicates from a list of strings
names = []
n = int(input("how many names you want to enter"))
for i in range(n):
    print(i+1,"enter name")
    names.append(input())
s=set(names)
names=list(s)
for x in names:
    print(x)

how many names you want to enter3
1 enter name
yash
2 enter name
saurabh
3 enter name
yash
yash
saurabh

In [24]:
#write a python script to print first 10 natural numbers
i = 1
while i <= 10:
    print(i, end=" ")
    i+=1

1 2 3 4 5 6 7 8 9 10

In [25]:
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [26]:
print([i for i in range(1,11)])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
#write a python script to print first 10 natural numbers in reverse order
i = 10
while i >= 1:
    print(i,end=" ")
    i-=1

10 9 8 7 6 5 4 3 2 1

In [31]:
for i in range(10,0,-1):
    print(i,end=" ")

10 9 8 7 6 5 4 3 2 1

In [33]:
print([i for i in range(10,0,-1)])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#Write a python script to reverse a tuple


t = eval(input("enter numbers saperated by ','"))
print("user entered tuple is",t)
l=list(t)
l.reverse()
t=tuple(l)
print("Reverse of tuple is ",t)